application:
    scanDirs: false
    scanComposer: false
    errorPresenter: Error
    catchExceptions: true
    mapping:
        *: [PHPMate\Dashboard, Modules\*, Presenters\*Presenter]

di:
    export:
        parameters: no
        tags: no

parameters:
    jobsDirectory: ../../phpmate/data

    security:
        basicAuth:
            username: ::getenv(BASIC_AUTH_USERNAME)
            password: ::getenv(BASIC_AUTH_PASSWORD)

services:
    - PHPMate\Dashboard\Router\RouterFactory::createRouter
    - PHPMate\Infrastructure\Job\FileSystem\FileSystemJobRepository(%jobsDirectory%)
    - PHPMate\Dashboard\Security\BasicAuthChecker(%security.basicAuth.username%, %security.basicAuth.username%)
