parameters:


application:
    errorPresenter: Error
    mapping:
        *: [PHPMate\Dashboard, Modules\*, Presenters\*Presenter]


session:
    expiration: 14 days


di:
    export:
        parameters: no
        tags: no


services:
    - PHPMate\Dashboard\Router\RouterFactory::createRouter
