application:
    scanDirs: false
    scanComposer: false
    errorPresenter: Error
    mapping:
        *: [PHPMate\Dashboard, Modules\*, Presenters\*Presenter]

di:
    export:
        parameters: no
        tags: no

parameters:
    jobsDirectory: ../../worker/data

services:
    - PHPMate\Dashboard\Router\RouterFactory::createRouter
    - PHPMate\Worker\Infrastructure\Job\FileSystem\FileSystemJobRepository(%jobsDirectory%)
