.DS_Store
.gitignore
.dockerignore
.editorconfig
.github
.idea
.sync
.phpstorm.meta.php
.phpunit.result.cache
.env.*

tests/
vendor/
node_modules/
var/

docker-compose.yml
docker-compose.override.yml
phpstan.neon
Dockerfile

projects-bin/
.docker-data/
