.DS_Store
.gitignore
.dockerignore
.editorconfig
.github
.idea
.sync

/vendor
/node_modules

.env.local
.env.*.local

.phpunit.result.cache

var/

docker-compose.yml
docker-compose.override.yml

projects-bin/
.docker-data/
