/vendor/
/var/
/public/bundles/

/vendor-bin/**/vendor

.env.local
.env.local.php
.env.*.local

.phpunit.result.cache
.database.cache

.docker-data/

docker-compose.override.yml

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
