/vendor/
/var/
/public/bundles/

.env.local
.env.local.php
.env.*.local

.phpunit.result.cache

.docker-data/
projects-bin/

docker-compose.override.yml

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
