includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - packages/PHPStan/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: max
    paths:
        - src
        - bin
        - tests
        - vendor-bin/rector/config
    # checkUninitializedProperties: true # TODO: enable later
    excludePaths:
        - tests/bootstrap.php
        - tests/object-manager.php
        - tests/GitRepository/
    scanDirectories:
        - var/cache/dev/Symfony/Config
    bootstrapFiles:
        - vendor-bin/rector/vendor/autoload.php
    symfony:
        container_xml_path: var/cache/dev/Peon_Infrastructure_Symfony_PeonKernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        # Scenario with general wrapping to make it safer
        - '#^Throwable is never thrown in the corresponding try block$#'

        # Workaround, before better validation forms is solved
        - '#^Peon\\Domain\\Task\\Exception\\InvalidCronExpression is never thrown in the corresponding try block$#'

        # Symfony configs can be tricky
        - '#^Parameter \#1 \$value of method Symfony\\Config\\Framework\\Messenger\\TransportConfig::options\(\) expects#'

        # Ignore missing throws annotations for data fixtures
        -
            message: '#^Missing \@throws#'
            path: tests/DataFixtures/DataFixtures.php

        # Ignore missing throws annotations for data diffs
        -
            message: '#^Missing \@throws #'
            path: src/Infrastructure/Cookbook/StaticRecipesCollection.php

        # These are actually never thrown
        -
            message: '#^Missing \@throws \\Peon\\Domain\\Job\\Exception\\Job#'
            path: src/Ui/Controller/DefineTaskController.php
        -
            message: '#^Missing \@throws \\Peon\\Domain\\Task\\Exception\\TaskNotFound#'
            path: src/Ui/Controller/DefineTaskController.php
        -
            message: '#^Missing \@throws \\Peon\\Domain\\Job\\Exception\\Job#'
            path: src/Ui/Controller/RedefineTaskController.php

    exceptionRules:
        reportUnusedCatchesOfUncheckedExceptions: true
        reportUnusedCheckedThrowsInSubtypes: false
        reportCheckedThrowsInGlobalScope: false
        uncheckedExceptions:
            - LogicException # TODO: consider changing it to runtime exception or maybe switch to "checked" exceptions instead
            - Nette\IOException
            - PHPUnit\Framework\Exception
            - Symfony\Component\Form\Exception\OutOfBoundsException
            - Symfony\Component\Form\Exception\RuntimeException
            - Symfony\Component\HttpKernel\Exception\NotFoundHttpException
            - Doctrine\DBAL\Driver\Exception
            - Doctrine\DBAL\Exception
            - Twig\Error\Error
            - Nette\Utils\JsonException
        methodWhitelist:
            PHPUnit\Framework\TestCase: '#.*#i'
        methodThrowTypeDeclarations:
            Cron\CronExpression:
                __construct:
                    - InvalidArgumentException
