<span class="process-status" id="process-status-{{ processId }}">
    {% if succeeded %}
        <i class="far fa-check-circle"></i>
    {% elseif failed %}
        <i class="far fa-times-circle"></i>
    {% else %}
        <i class="fas fa-circle-notch"></i>
    {% endif %}
</span>
