.list-group.jobs-list-group .active {
    background: #eee;
    border-color: #bbb;
}

.list-group.jobs-list-group .active h5 {
    color: #000;
}

.test-button { }

.form-label.required {
    font-weight: bold;
}


.form-label.required::before {
    content: "* ";
    color: red;
}

.dashboard-projects a.card {
    text-decoration: none;
    background: #eeefff;
    border-color: blue;
}

.dashboard-projects a.card:hover {
    border-color: darkblue;
    color: darkblue;
}
