// $primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.list-group.jobs-list-group .active {
    background: #eee;
    border-color: #bbb;
}

.list-group.jobs-list-group .active h5 {
    color: #000;
}

.test-button { }

.form-label.required {
    font-weight: bold;
}


.form-label.required::before {
    content: "* ";
    color: red;
}

.dashboard-projects {
    margin-bottom: 25px;
}

.dashboard-projects .card {
    margin-bottom: 20px;
    margin-top: 20px;
}

.dashboard-projects a.card {
    text-decoration: none;
    background: #eeefff;
    border-color: blue;
}

.dashboard-projects a.card:hover {
    border-color: darkblue;
    color: darkblue;
}

.jobs-list-table a {
    text-decoration: none;
}

.jobs-list-table a:hover {
    text-decoration: underline;
}

.jobs-list-table a.btn:hover {
    text-decoration: none;
}

.jobs-list-table .btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
}

.jobs-list-table .btn.btn-warning {
    background-color: #fff;
    color: #d9a205;
}

.jobs-list-table .btn.btn-warning:hover {
    background-color: #fff3d7;
}

.jobs-list-table .btn.btn-success {
    background-color: #fff;
    color: #0d942d;
}

.jobs-list-table .btn.btn-success:hover {
    background-color: #d8efdd;
}

.jobs-list-table .btn.btn-primary {
    background-color: #fff;
    color: #0a58ca;
}

.jobs-list-table .btn.btn-primary:hover {
    background-color: #d2e2f8;
}

.jobs-list-table .btn.btn-danger {
    background-color: #fff;
    color: #ea3749;
}

.jobs-list-table .btn.btn-danger:hover {
    background-color: #fae4e5;
}

.guidelines-block {
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
}

.guidelines-block .btn {
    margin-top: 15px;
}

.cookbook {
    pre {
        border-radius: 5px;
        margin-bottom: 0;
    }

    code {
        background: #F7F8FAFF;
        font-size: 13px;
        line-height: 1.4em;
    }

    .card {
        box-shadow:  2px 2px 7px rgba(0, 0, 0, .22);
        border: 0;
    }
}
