$primary: #643cfe;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.list-group.jobs-list-group .active {
    background: #eee;
    border-color: #bbb;
}

.list-group.jobs-list-group .active h5 {
    color: #000;
}

.test-button { }

.form-label.required {
    font-weight: bold;
}


.form-label.required::before {
    content: "* ";
    color: red;
}

.dashboard-projects {
    margin-bottom: 25px;
}

.dashboard-projects .card {
    margin-bottom: 20px;
    margin-top: 20px;
}

.dashboard-projects a.card {
    text-decoration: none;
    background: #eeefff;
    border-color: blue;
}

.dashboard-projects a.card:hover {
    border-color: darkblue;
    color: darkblue;
}

.jobs-list-table {
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    margin-bottom: 25px;

    table {
        margin-bottom: 0;
    }

    thead th {
        background: #f3f3f3;
        border-bottom-width: 2px;
    }
}

.jobs-list-table a {
    text-decoration: none;
}

.jobs-list-table a:hover {
    text-decoration: underline;
}

.jobs-list-table a.btn:hover {
    text-decoration: none;
}

.jobs-list-table .btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn.btn-outline-warning {
    background-color: #fff;
    color: #d9a205;

    &:hover {
        background-color: #fff3d7;
    }
}

.btn.btn-outline-success {
    background-color: #fff;
    color: #0d942d;

    &:hover {
        background-color: #d8efdd;
    }
}

.btn.btn-outline-primary {
    background-color: #fff;
    color: $primary;

    &:hover {
        background-color: #e1ddf5;
    }
}

.btn.btn-outline-secondary {
    background-color: #fff;
    color: $secondary;

    &:hover {
        background-color: #dfdfdf;
    }
}

.btn.btn-outline-danger {
    background-color: #fff;
    color: #ea3749;

    &:hover {
        background-color: #fae4e5;
    }
}


.project-guidelines {
    p {
        text-align: center;
    }

    .bigger {
        font-size: 22px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .list-group {
        max-width: 500px;
        box-shadow:  2px 2px 7px rgba(0, 0, 0, .22);
        padding: 10px;
        margin: 15px auto;
    }
}

.cookbook {
    pre {
        border-radius: 5px;
        margin-bottom: 0;
    }

    code {
        background: #F7F8FAFF;
        font-size: 13px;
        line-height: 1.4em;
    }

    .card {
        box-shadow:  2px 2px 7px rgba(0, 0, 0, .22);
        border: 1px solid #ccc;

        &.recipe-enabled {
            border: 1px solid #0d942d;
        }
    }
}

.active-project-panel {
    padding: 15px 20px 0;
    background: lighten($primary, 33%);
    border-bottom: 1px solid lighten($primary, 27%);
    margin-bottom: 20px;

    h2 {
        margin-top: 0;
        font-size: 24px;
    }

    a {
        text-decoration: none;
    }

    .active-project-nav {
        margin-top: 18px;
        margin-bottom: -1px;
        a {
            display: inline-block;
            padding: 5px 15px;
            color: #555;
            border-bottom: 3px solid transparent;
            font-size: 15px;

            &.active {
                border-bottom: 3px solid lighten($primary, 5%) !important;
            }

            &:hover {
                color: #222;
                border-bottom: 3px solid lighten($primary, 22%);
            }
        }
    }
}

h1 {
    font-size: 28px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-weight: 400;
}

h2 {
    margin: 22px 0 12px;
    font-size: 24px;
}

.form-control {
    background: #f9f9f9;
    box-shadow: rgba(208, 215, 222, .4) 2px 2px 3px 1px inset;
}

input.form-control {
    max-width: 500px;
}

textarea.code {
    font-family: $font-family-monospace;
    min-height: 100px;
    font-size: 14px;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px #9880ff;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #9880ff;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #9880ff;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #9880ff;
    }
    30% {
        box-shadow: 9984px 0 0 2px #9880ff;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #9880ff;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #9880ff;
    }
    30% {
        box-shadow: 9999px 0 0 2px #9880ff;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #9880ff;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #9880ff;
    }
    30% {
        box-shadow: 10014px 0 0 2px #9880ff;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #9880ff;
    }
}

.job-in-progress-animation-wrap {
    margin: 25px;
}

.multiple-form-buttons {
    display: inline-block;
    margin-bottom: 15px;

    + .multiple-form-buttons {
        margin-left: 10px;
    }
}

.login-form {
    margin: 5vh auto 20px;
    max-width: 370px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, .3) 1px 1px 30px;
    background: #fff;
    border-radius: 15px;

    label {
        font-weight: bold;
    }
}

body {
    min-height: 100vh;
}

body.page-login {
    @include gradient-directional(lighten($primary, 32%), $primary, -135deg);

    .peon-logo {
        background: url('../images/peon-dev-logo.png') center center no-repeat;
        background-size: contain;
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
        border-radius: 5px;
    }
}

.text-version {
    position: absolute;
    left: 10px;
    top: 9px;
    font-size: 11px;
    line-height: 20px;

    svg {
        float: left;
        margin-right: 5px;
    }
}

.navbar-text a.user-link {
    text-decoration: none;
    color: #aaa;

    &.active {
        color: #fff;
    }

    &:hover {
        color: #fff;
    }
}

.card-worker {
    .card-body {
        padding: 12px;
    }

    .card-title {
        font-size: 18px;
    }
}

.closed-beta-info {
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    color: #333;

    a {
        color: #000;
    }
}
