{% extends 'base.html.twig' %}

{% block content %}
    <h1>{% block title %}Cookbook{% endblock %}</h1>

    <section class="cookbook">
        <p>You can choose from predefined tasks!</p>

        <div class="dashboard-projects row row-cols-auto">
            {% for recipe in recipes %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ recipe.title }}
                            </h5>

                            <pre><code class="language-diff">{{ recipe.exampleCodeDiff }}</code></pre>
                        </div>
                    <!--
                        <div class="card-footer text-muted">
                            <small>Active for 0 projects</small>

                            <a href="#" class="btn btn-primary btn-sm float-end">
                                <i class="fas fa-cog"></i>
                            </a>
                        </div>
                    -->
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
