{% extends 'base.html.twig' %}

{% block content %}
    <h1>{% block title %}Cookbook{% endblock %}</h1>

    <div {{ turbo_stream_listen('project-' ~ activeProject.projectId ~ '-cookbook') }}></div>

    <section class="cookbook" data-controller="cookbook">
        <div class="dashboard-projects row row-cols-auto">
            {% for recipe in recipes %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ recipe.title }}
                            </h5>

                            <pre><code class="language-diff">{{ recipe.exampleCodeDiff }}</code></pre>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                {{ include('cookbook/_recipe_dropdown.html.twig', {
                                    project: activeProject,
                                    recipeName: recipe.name
                                }) }}
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
