{% extends 'base.html.twig' %}

{% block content %}
    <h1>{% block title %}Create project{% endblock %}</h1>

    {{ form_start(create_project_form) }}
        {{ form_widget(create_project_form) }}

        <input type="submit" class="btn btn-primary" />
    {{ form_end(create_project_form) }}
{% endblock %}
