<turbo-stream action="prepend" target="recent-jobs">
    <template>
        <tr><td>Xxyz</td></tr>
    </template>
</turbo-stream>


<turbo-stream action="replace" target="project-72fd1c5f-7fdd-4cd1-a48f-4cf244458f45-stats">
    <template>
        <div>
            X
        </div>
    </template>
</turbo-stream>
