{% extends 'base.html.twig' %}

{% block content %}
    <h1>{% block title %}Define task{% endblock %}</h1>

    {{ form_start(define_task_form) }}
        {{ form_widget(define_task_form) }}

        <input type="submit" name="submit" class="btn btn-primary" value="Save" />

        <input type="submit" name="save-and-run" class="btn btn-outline-primary" value="Save and run" />
    {{ form_end(define_task_form) }}
{% endblock %}
