{% extends 'base.html.twig' %}

{% block content %}
    <h1>{% block title %}Project recipes{% endblock %}</h1>

    {{ form_start(project_recipes_form) }}
        {{ form_widget(project_recipes_form) }}

        <input type="submit" name="submit" class="btn btn-primary" />
    {{ form_end(project_recipes_form) }}
{% endblock %}
