{% extends 'base.html.twig' %}

{% block content %}
    <h1>{% block title %}Task settings{% endblock %}</h1>

    {{ form_start(define_task_form) }}
        {{ form_widget(define_task_form) }}

        <input type="submit" name="submit" class="btn btn-primary" value="Save" />

        <input type="submit" name="save-and-run" class="btn btn-outline-primary" value="Save and run" />
    {{ form_end(define_task_form) }}

    <hr>

    <h2>Danger zone</h2>

    <div class="card border-danger">
        <div class="card-body">
            <a class="btn btn-sm btn-outline-danger" href="{{ path('remove_task', {taskId: task.taskId}) }}" onclick="return confirm('Are you sure you want to delete this task?');">
                Delete this task
            </a>
        </div>
    </div>

{% endblock %}
