{templateType PHPMate\Dashboard\Presenters\HomepageTemplate}

{block content}
<h1 n:block=title>Jobs dashboard</h1>

{if count($jobs) > 0}
    <div class="list-group">
        {foreach $jobs as $job}
            <a href="#" class="list-group-item list-group-item-action">
                {$job->getTimestamp()}
                {$job->getStatus()}
            </a>
        {/foreach}
    </div>
{else}
    <div class="alert alert-dark" role="alert">
        No jobs executed yet!
    </div>
{/if}
