{templateType PHPMate\Dashboard\Presenters\HomepageTemplate}

{block jobDetail}
{if count($jobs) === 0}
    <div class="alert alert-dark" role="alert">
        No jobs executed yet!
    </div>
{else}
    <div class="alert alert-info bg-gradient">
        Pick executed job to display details.
    </div>
{/if}
