# https://github.com/docker/build-push-action/blob/master/docs/advanced/tags-labels.md

name: Release

on:
    workflow_run:
        workflows: [Tests]
        types:
            - completed
        branches:
            - main

jobs:
    docker images:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Docker meta
                id: meta
                uses: docker/metadata-action@v3
                with:
                    # list of Docker images to use as base name for tags
                    images: |
                        ghcr.io/peon-dev/peon
                    # generate Docker tags based on the following events/attributes
                    tags: |
                        type=ref,event=branch
                        type=sha

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v1

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v1

            -   name: Login to GHCR
                if: github.event_name != 'pull_request'
                uses: docker/login-action@v1
                with:
                    registry: ghcr.io
                    username: ${{ github.repository_owner }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Build and push
                uses: docker/build-push-action@v2
                with:
                    context: .
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}
                    platforms: linux/amd64,linux/arm64
                    cache-from: type=gha, scope=${{ github.workflow }}
                    cache-to: type=gha, scope=${{ github.workflow }}

    deploy:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        needs:
            - "docker images"
        environment:
            name: prod
            url: https://app.peon.dev
        steps:
            -   uses: appleboy/ssh-action@master
                with:
                    host: ${{ secrets.DEPLOY_HOST }}
                    username: ${{ secrets.DEPLOY_USERNAME }}
                    key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
                    port: ${{ secrets.DEPLOY_PORT }}
                script_stop: true
                script: |
                    docker pull ghcr.io/peon-dev/php-recipes:main
                    cd /peon/app
                    docker-compose pull
                    docker-compose up -d
